@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin:0;
  padding: 0;
    font-family: 'Lato', sans-serif;
}

h2{
    font-weight:bolder ;
}

.chart{
    max-width: 650px;
}

#chartsContainer{
    margin-top: 25rem!important;
    padding-right: 0!important;
}
.row{
  margin-right: 0px!important;
}

td{
    cursor: pointer;
}

.card{
    min-width: 200px;
    border: 3px solid;
    max-width: 300px;
}

.row{
    justify-content: center;
}

/* Scroll to top button */
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  @media only screen and (max-width: 600px) {
    #chartsContainer{
        margin: 2rem!important;
    }
  }
  